.pro{
	border: 2px solid black;
	background-color: #18FAFB;
	background: -webkit-linear-gradient(top,#18FAFB 50%,blue 100%);
	border-radius: 30px 0px 30px 0px;
	box-shadow: 4px 4px 12px black;
}
.pp{
	
	border:2px solid black;
	height: 60px;
	color: red;
	font-size: 20px;
}
.mn{
	color: white;
	font-size: 20px;
}
.kl{
	border:2px solid black;
}
.sk{
	border-radius: 30px 0px 30px 0px;
	border:2px solid black;
	height: 60px;
	color: blue;
	font-size: 20px;
}
.hp{
	color: blue;
	font-size: 19px;
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
}
.th{
	background-color: white;
	border:2px solid black;
	color: blue;
	font-size: 20px;
}
.th:hover{

	background: -webkit-linear-gradient(top,#321DE9 30%,#00F6FF 100%);
	color: white;
}